<p id="qstn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero orci, 
    luctus dapibus iaculis ut, euismod a sem. Suspendisse id efficitur ligula, non 
    bibendum nibh. Vivamus ac odio ligula. Sed et efficitur lectus. In vel mi rutrum,
     efficitur orci ac, condimentum velit. Pellentesque id varius lorem. 
     Aliquam ___________________ Nunc tincidunt non nunc eget egestas. Proin mattis 
     et metus at tristique. Aliquam erat volutpat.</p>