<ul>
    <li id="answr">Respuesta 1</li>
    <li id="answr">Respuesta 1</li>
    <li id="answr">Respuesta 1</li>
    <li id="answr">Respuesta 1</li>
    <li id="answr">Respuesta 1</li>
    <li id="answr">Respuesta 1</li>
</ul>