

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#qstn{
  font-size: 20px;
  text-align: justify;
}

#answr{
  font-size: 25px;
}

#ncuarto{
  background-color: hsl(110, 49%, 50%);
  color: #fefefe;
}

#ncuarto:hover{
  background-color: hsl(109, 48%, 42%);
  color: #fefefe;
}

#ucuarto{
  background-color: hsl(193, 64%, 56%);
  color: #fefefe;
}

#ucuarto:hover{
  background-color: hsl(193, 50%, 52%);
  color: #fefefe;
}

.social {
    margin-right: .50rem;
  }  


  .social.email {
    background-color: #687879;
    color: #fefefe;
  }
  
  .social.email:hover, .social.email:focus {
    background-color: #536061;
    color: #fefefe;
  }
  
  .social.google-plus {
    background-color: #dd4b39;
    color: #fefefe;
  }
  
  .social.google-plus:hover, .social.google-plus:focus {
    background-color: #be3221;
    color: #fefefe;
  }
  
  .social.github {
    background-color: #000000;
    color: #fefefe;
  }
  
  .social.github:hover, .social.github:focus {
    background-color: rgb(41, 41, 41);
    color: #fefefe;
  }
  
  .social > .fa {
    color: #fefefe;
    margin-right: .25rem;
  }
  
  