
<body id="pagina" class="center" style="font-family: 'Amatic SC', cursive;">
    <div class="row">
        <div class="col-3"></div>
        <center>
            <div class="col-6">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">
                        {{#link-to "main-page" tagName="button" class="btn btn-success"}}Home{{/link-to}}
                    </div>
                    <div class="col-md-auto">
                        <h1 class="text-center">
                            <b>THE BLANK</b>
                        </h1>
                    </div>
                    <div class="col col-lg-2">
                        <button class="btn btn-danger" id="logout">Logout</button>
                    </div>
                </div>
                {{outlet}}
            </div>
        </center>
        <div class="col-3"></div>
    </div>
</body>