<body style="font-family: 'Amatic SC', cursive;">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1 class="text-center"><b>THE BLANK</b></h1>
            {{outlet}}
        </div>
        <div class="col"></div>
    </div>
</body>