<center>
    <h3>Completa el espacio en blanco</h3>
<hr>
    {{espacio-blanco}}
<hr>
<h3>Elije una respuesta</h3>
    <div class="container">
        {{lista-respuestas}}
    </div>
<hr>

    <button class="btn btn-success">Siguiente</button>
</center>

{{outlet}}