<center>
    <h2>Entra a un cuarto</h2>
    {{input type="text" id="roomName" value="Room"}}
    <button {{action 'chkRoom'}} class='btn' id='ncuarto'>Entrar</button>
</center>

<hr> {{#if isValid}}
<center>
    <div>
        <h2>Escribe tu nombre</h2>
        {{input type="text" id="name" value="Nombre"}} {{#link-to "game-room" tagName="button" class="btn" id="ucuarto"}}Jugar!{{/link-to}}
    </div>
</center>
{{/if}} {{outlet}}