<h2 class="text-center"> ¿Que deseas hacer?</h2>

<div class="row">
    <div>
        <button>CREAR UNA SALA</button>
    </div>
</div>
<div class="row">
    <div>
        <button>UNIRSE A SALA</button>
    </div>
</div>

<hr>

<h2 class="text-center">INICIAR SESION</h2>
<div class="row">
    <button type="button" class="button social email">
        <i class="fa fa-envelope" aria-hidden="true"></i> E-mail
    </button>

    <button type="button" class="button social google-plus">
        <i class="fa fa-google-plus" aria-hidden="true"></i> Google
    </button>

    <button type="button" class="button social github">
        <i class="fa fa-github" aria-hidden="true"></i> Github
    </button>
</div>

<hr>

<form>
    {{slide-how-to}}
</form>
{{!-- {{outlet}} --}}